h1 {
    text-align: center;
    font-size: 40px;
    color: #f80404;
}

p {
    text-align: justify;
    font-size: 20px;
    color: #171616;
}

    body {
        background-color: rgb(255, 255, 255);
    }


.item{
    color: #f50707;
}








