h1 {
    text-align: center;
    font-size: 40px;
    color: #f80404;
}

p {
    text-align: justify;
    font-size: 20px;
    color: #171616;
}

    body {
        background-color: #f0e68c(255, 255, 255);
    }


.item{
    color: #1707f5;
}

#img1{
    display: block;
    margin: 0 auto;
}


#titulo2 {
       text-align: center;
       font-size: 30px;
       color: #f20707;
}

.ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
   font-size: 20px;
}

img2{
    display: block;
    margin: 0 auto;
    
}

header{
    text-align: center;
    font-size: 50px;
    color: #1707f5
}


.principal{
           background-color: azure;
}

.beneficios{
            background-color: aliceblue;
}